In [167]:
# dtf print

In [168]:
import pandas as pd

In [169]:
with open("SMSSpamCollection.txt","r") as file:
    data = file.read()

In [170]:
len(data)

477907

In [171]:
email_ls = data.split('\n')

In [172]:
# x =[]
# y =[]
# email_ls[1].split("\t")

# x.append(label_email[1])    #ham -- 1 pe hain
# y.append(label_email[0])    #spam-- 0 pe hain

In [173]:
x =[]
y =[]
for line in email_ls:
    email_with_labels =line.split('\t')
    if len(email_with_labels) == 2:
        x.append(email_with_labels[1])
        y.append(email_with_labels[0])

In [174]:
len(x), len(y)

(5574, 5574)

In [175]:
# Model train

import re

In [176]:
x[21]

'Iâ€˜m going to try for 2 months ha ha only joking'

In [177]:
ls = " Hii i am from @ mathura and pincode 231400"
# re.sub('[^a-zA-z]'," ", ls)
re.sub('[^a-zA-z ]',"", x[21]).lower()          # ^ --  not

'im going to try for  months ha ha only joking'

In [178]:
for i in range(len(x)):
   x[i]=  re.sub('[^a-zA-Z ]','',x[i]).lower()

In [179]:
x[21]

'im going to try for  months ha ha only joking'

In [180]:
import pandas as pd
dt = {"email_message":x, "label":y}
df = pd.DataFrame(dt)
df.head()

                                       email_message label
0  go until jurong point crazy available only in ...   ham
1                            ok lar joking wif u oni   ham
2  free entry in  a wkly comp to win fa cup final...  spam
3        u dun say so early hor u c already then say   ham
4  nah i dont think he goes to usf he lives aroun...   ham

In [181]:
#checking imbalance

df['label'].value_counts()

# spam other data add
# ham data poitns remove

ham     4827
spam     747
Name: label, dtype: int64

In [182]:
ham = df[ df['label'] == 'ham']
spam = df[df['label'] == 'spam']

In [183]:
ham.shape,  spam.shape

((4827, 2), (747, 2))

In [184]:
ham.sample(1000).shape

(1000, 2)

In [185]:
# from imblearn.over_sampling import SMOTE  #(synthtic minority over sampling technique)

In [186]:
smote = SMOTE()

In [187]:
x = df['email_message']
y = df['label']                ##########????????????????????

In [188]:
# X, Y = smote.fit_resample(x,y)    content is alphabtical so can't be used here

In [189]:
ham = ham.sample(1000)

In [190]:
balance_df = pd.concat([ham,spam])

x = balance_df['email_message']
y = balance_df['label']

In [191]:
x = x.values
type(x)

numpy.ndarray

In [192]:
balance_df = pd.concat([ham,spam])

In [193]:
balance_df['label'].value_counts()

ham     1000
spam     747
Name: label, dtype: int64

In [194]:
### email message transform into numerical

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [195]:
bow = CountVectorizer(max_features=1700, stop_words='english')

# stop words in eng = you he she will how here where there etc

In [206]:
# x

In [197]:
x = bow.fit_transform(x).toarray()

# bow --  bag of words

#apla to num krdiya ek run mein

# dubara run mein num to num krega to glt hoga 2nd run mein

In [198]:
column_name = bow.get_feature_names_out()

In [219]:
r2 = pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

r2

In [199]:
testing = pd.DataFrame (x, columns = column_name)
testing

,able,abt,abta,ac,access,accident,account,ache,aclpm,acoentry,...,yesterday,yijue,yo,youll,youre,youve,yr,yrs,yup,zed
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1743,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [200]:
x.shape

(1747, 1700)

In [203]:
#countvectorizer? what does it does?

# i am good boys
# you are good boys
# girls and boys are good

# countvectorizer phele stopwords ko remoive krega
# countvectorizer unique words nikalge like........... boys , girls, good

# aur fir in unique ke columns names bnadega
# max_features = 1700 mtlb maax 1700 unique nikalne hain bas uske aage nahi

In [205]:
# ham =0 
# spam = 1

In [207]:
dt = { 'ham':0, "spam":1}
y = y.map(dt)

In [209]:
import numpy as np

In [210]:
y = np.array(y)

In [215]:
x.shape, y.shape

((1747, 1700), (1747,))

In [220]:
from sklearn.model_selection import train_test_split

In [222]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size= 0.15)

# Naive Bayes

In [224]:
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

In [238]:

#agar text format mein hain data to use NAIVE BAYES

In [240]:
#logistic regression
#desicsion classifier
#randomforest calssifier




#BAYES THEOREm + NAIVE BAYES
# AUR baki saB CLASSIFIER BHI PDHLENA TO REVISE AND PACK

In [241]:
mb = MultinomialNB()
bnb = BernoulliNB()

mb.fit(x_train, y_train)
bnb.fit(x_train, y_train)

print("Training score MNB : ",mb.score(x_train,y_train))
print("Testing score MNB : ",mb.score(x_train,y_train))
print()
print("Training score BNB : ",bnb.score(x_train,y_train))
print("Testing score BNB : ",bnb.score(x_train,y_train))

Training score MNB :  0.9743935309973046
Testing score MNB :  0.9743935309973046

Training score BNB :  0.9609164420485176
Testing score BNB :  0.9609164420485176

In [242]:
import joblib

In [245]:
joblib.dump(bnb,"MB_MODEL.lb")
joblib.dump(bow,"countvectorizer.lb")   #countvectorizer se alphabet se num mein covert kiye the

['countvectorizer.lb']

In [247]:
prediction = bnb.predict(x_test)
prediction[:10]

array([1, 1, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [248]:
y_test[:10]

array([1, 1, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [249]:
from sklearn.metrics import confusion_matrix

In [250]:
confusion_matrix(y_test, prediction)

array([[153,   0],
       [  8, 102]], dtype=int64)